---
import "../main.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>TokenCSS</title>
  </head>
  <body>
    <h1>TokenCSS</h1>

    <style>
      h1 {
        color: blue.6;
        background: blue.0;
        padding: sm;
        border-radius: md;
      }
    </style>
  </body>
</html>
